* {
  box-sizing: border-box;
}

body {
  height : 100vh;
  margin: 0;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 220px;
  width: 400px;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 11px;
}

.grid div.pacman {
  background-image: url('../assets/pacman.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.walls {
  background: darkgray;
}

.grid div.food {
  background-image: url('../assets/food.png');
  background-size: contain;
  background-repeat: no-repeat;
}