* {
  box-sizing: border-box;
}

body {
  height : 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(118, 223, 118);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10vw;
  margin-top: 40vh;
}
.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 220px;
  width: 400px;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 11px;
}

.grid div.pacman {
  background-image: url('../assets/pacman.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.walls {
  background: gray;
}

.grid div.food {
  background-image: url('../assets/food.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.grid div.ghost {
  background-image: url('../assets/ghost.png');
  background-size: contain;
  background-repeat: no-repeat;
}