* {
  box-sizing: border-box;
}

body {
  height : 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../assets/Mario\ Background.png');
  background-size: cover;
  margin: 0 auto;
  font-family: 'Bangers', cursive;
  color:white;
}

h1 {
  margin-top: -20vh;
  font-size: 106px;
  text-align: center;
  animation: fade 5s infinite;
}

@keyframes fade {
  10% {
    background-image:none;
    color: white;
  }
  35%{
    color: transparent
  }
  50% {
    background-image: url('../assets/mario-kart.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
  }
}

button {
  padding: 5vh 0vw;
  border-radius: 40px;
  font-family: 'Bangers', cursive;
  /* text-align: center; */
  width: 56vw;
  border-color: cornflowerblue;
  font-size: 36px;
  background-color: #ebb214;
  color: white;
  align-items: center;
  justify-content: center;
}

#reset {
  padding: 0 5vw;
  font-size: 23px;
  width: 40vw;
  height: 9vh;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.menu {
  text-align: end;
  font-size: x-large;
  white-space: pre;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.menu p {
  padding-right: 5vw;
  padding-bottom: 5vh;
  margin: 0;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-wrapper {
  justify-content: center;
  align-items: center;
  height: 65vh;
  padding-top: 4vh;
}

.gameover {
  text-align: center;
  margin-top: 7vh;
  font-size: xxx-large;
  animation: bounce 2s 3;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 109%;
  width: 90%;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 3.33%;
  border-radius: 7px;
  color: transparent
}

.grid div.pacman {
  background-image: url('../assets/Mario-Head.gif');
  background-size: 200%;
  background-repeat:no-repeat;
  background-position: center;
}

.grid div.walls {
  background-image: url('../assets/brick.png');
  background-size: contain;
  background-repeat: round;
}

.grid div.food {
  background-image: url('../assets/coin.gif');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  /* animation: bounce 2s infinite; */
}

.grid div.special {
  background-image: url('../assets/star.gif');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.grid div.ghost {
  background-image: url('../assets/goomba.gif');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.grid div.piranha {
  background-image: url('../assets/turtle.gif');
  background-size: 100%;  
  transform: rotate(-30deg);
  background-repeat: no-repeat;
  background-position: center;
}

.grid div.shell {
  background-image: url('../assets/shell.gif');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}
.specialmode {
  background-image: url('../assets/New_Super_Mario_Bros._U_Deluxe_Acorn_Plains_Star_Coins_guide.0.jpg');
  background-size: cover;
}

@media screen and (max-width: 800px){
body {
  display: flex;
}

h1 {
  font-size: 80px;
}
.controls {
  display: flex;
  width: 100%;
  padding-top: 12vh;
}
button {
  font-size: 27px;
}
.menu {
  font-size: large;
  flex-direction: column;
  align-items: center;
}

.menu p {
  display: flex;
  padding-right: 0;
  padding-bottom: 2vh;
  padding-top: 4vh;
}
.grid-wrapper {
  padding-left:0; 
  margin-top: 0;
  height: 55vh;
  padding-top: 0;
  padding-bottom: 5vh;
}
.game {
  justify-content: space-evenly;
}
.gameover {
  margin-top: 3vh;
  font-size: 20px;
  display: flex;
  align-items: end;
}

#reset {
  font-size: 17px;
  padding: 3vh 36vw;
  border-radius: 21px;
}

.grid div.food {
  background-size: 85%;
}
.grid div.special {
  background-size: 100%;
}
.grid div.pirahna {
  background-size: 150%;
}
.grid div.shell {
  background-size: 230%;
}
.grid div.ghost {
  background-size: 105%;
}
.grid div.pacman {
  background-size: 220%;
}
}